@page "/turmamodels/details"
@inject FiapSchoolWeb.Data.FiapSchoolWebContext DB
@inject NavigationManager NavigationManager

<PageTitle>Detalhes</PageTitle>

<h1>Detalhes</h1>

<div>
    <h4>TurmaModel</h4>
    <hr />
    @if (turmamodel is null)
    {
        <p><em>Carregando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Curso_Id</dt>
            <dd class="col-sm-10">@turmamodel.Curso_Id</dd>
            <dt class="col-sm-2">Turma</dt>
            <dd class="col-sm-10">@turmamodel.Turma</dd>
            <dt class="col-sm-2">Ano</dt>
            <dd class="col-sm-10">@turmamodel.Ano</dd>
        </dl>
        <div>
            <a href="@($"/turmamodels/edit?id={turmamodel.Id}")" class="btn btn-primary">Editar</a> |
            <a href="@($"/turmamodels")" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    }
</div>

@code {
    TurmaModel? turmamodel;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        turmamodel = await DB.Turmas.FirstOrDefaultAsync(m => m.Id == Id);

        if (turmamodel is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
